html {
    font-family:courier;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -2px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color:white;
    text-shadow: 0 0 4px white;
  }
  
  p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color:white;
  }